    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)

        qs = (
            Produto.objects.select_related("categoria", "fornecedor").order_by("nome")
        )
        busca = self.request.GET.get("q", "").strip()
        categoria_raw = self.request.GET.get("categoria", "").strip()
        categoria_atual = None
        if categoria_raw and categoria_raw.isdigit():
            categoria_atual = int(categoria_raw)
            qs = qs.filter(categoria_id=categoria_atual)
        if busca:
            qs = qs.filter(
                Q(nome__icontains=busca) )
        context["produtos"] = qs
        context["categorias"] = Categoria.objects.order_by("nome")
        context["busca_q"] = busca
        context["categoria_atual"] = categoria_atual or categoria_raw

        return context